body {
    word-wrap: break-word;
    word-break: keep-all;
}

li p {
    margin: 0 !important;
    margin-top: 0 !important;
}

.color-test1 {
    height: 100%;
}

.color-test1>div {
    text-align: center;
    position: relative;
    top: 20%;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 30px;
}

.color-test2 {
    height: 100%;
}

.color-test2>div {
    text-align: center;
    position: relative;
    top: 20%;
    margin-top: 30px;
}

a.twitter-icon {
    margin-top: 50px;
    transition: all 0.3s ease 0s;
}

.twitter-icon:hover {
    fill: #5477aa;
}

._pickup::after {
    content: "←pickup!";
    color: red;
    font-size: 10px;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.container {
    margin-top: 70px;
}

.sp-only {
    display: none;
}

.pc-only {
    display: block;
}

@media screen and ( max-width:1024px) {
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
    .dropdown-menu {
        border: none;
    }
    .container {
        margin-top: 100px;
    }
}