.soto {
    margin: 30px 40px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    width: 150px;
    height: 80px;
}

.naka {
    position: relative;
    top: -10px;
    left: 40px;
    word-wrap: none;
    word-break: keep-all;
}

p {
    margin-left: 40px;
}